.categoryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  justify-content: space-between;
}
.category {
  width: 25%;
  padding: 10px 0;
  border-radius: 10px;
  text-align: center;
}
.category:nth-child(1) {
  background-color: #57c4ff31;
}
.category:nth-child(2) {
  background-color: #da85c731;
}
.category:nth-child(3) {
  background-color: #7fb88133;
}
.category:nth-child(4) {
  background-color: #ff795736;
}
.category:nth-child(5) {
  background-color: #ffb04f45;
}
.category:nth-child(6) {
  background-color: #5e4fff31;
}
.categoryName {
  font-size: 14px;
}
